<style>
.margin-override-construction * {
margin-top: 1em !important;
margin-bottom: 1em !important;
}
</style>
<div class="margin-override-construction">
<p><a href="/images/under-construction.png?height=256px" data-featherlight="image"><img src="/images/under-construction.png?height=256px" alt="" style="width: auto; height: 256px;"></a></p>
</div>
<div style="margin: auto; text-align: center;">
<p>This page is currently a <strong>stub</strong>. You can help make this page complete by contributing to this documentation's <a href="https://github.com/c272/microbit-v2-docs/" class="highlight">Github repository</a>.</p>
</div>